.App {
    background-image: url("http://info.morningstardance.com/img/starsbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 480px) {
    img {
        width: 400px;
    }
    .SmallBannerLogo {
        width: 50%;
        height: 50%;
    }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainBannerImage {
    height: auto;
    max-width: 100%;
}

.SmallBannerLogo {
    height: auto;
    max-height: 138px;
    max-width: 168px;
    position: absolute;
    left: 28%;
    top: 12%;
}

.MainBannerText1  {
    position: absolute;
    top: 75px;
    width: 100%;
}

.MainBannerText1A {
    color: white;
    font: bold 30px/50px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}


.MainBannerText2 {
    position: absolute;
    top: 18px;
    width: 100%;
}

.MainBannerText2A {
    color: orange;
    font: bold 25px/30px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}


